# ==============================
# DATASET & MODEL (DO NOT PUSH)
# ==============================
training/NINS_Dataset/
training/*.pth
training/*.pt
*.pth
*.pt

# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# ==============================
# NODE / REACT
# ==============================
frontend/node_modules/
frontend/build/

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# LOGS
# ==============================
*.log
